@charset "UTF-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Kalam:300,400|Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:wght@400;700&display=swap");
div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > div.ic-Login__innerContent {
  border: none;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content {
  border: 2px solid #fff;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > div.ic-Login__innerContent > div.ic-Login__body {
  padding-bottom: 0px;
  padding-top: 0px;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > footer#footer > div#footer-links {
  padding-top: 0px;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > div.ic-Login__innerContent div.ic-Login-header__logo > img {
  width: 50%;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > div.ic-Login__innerContent div.ic-Login-header__logo {
  text-align: center;
}

div#content > div.ic-Login > div.ic-Login__container > div.ic-Login__content > div.ic-Login__innerContent div.ic-Login-header {
  display: block;
}

div#content > div.ic-Login > div.ic-Login__container {
  position: fixed;
  top: 45%;
  left: 50%;
  right: 50px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.bcs__trigger {
  z-index: 12 !important;
}

.ic-Layout-wrapper {
  padding-top: 60px;
}

.ic-app-nav-toggle-and-crumbs {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 12;
}

.ic-flash-info.ic-flash-static,
.ic-flash-success.ic-flash-static,
.ic-flash-warning.ic-flash-static,
.ic-flash-error.ic-flash-static {
  margin-top: 75px;
}

body.primary-nav-expanded .menu-item__text {
  font-size: 12px;
}

h1.page-title {
  font-size: 2.5em;
  font-weight: 200;
  margin: 0px !important;
  padding: 0px !important;
  height: 1px !important;
  color: #fff !important;
}

h2.course-title {
  display: none !important;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

#tinymce [data-element-menu]:before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  top: -5px;
  border: 1px dashed rgba(14, 99, 228, 0.6);
  cursor: context-menu;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

#tinymce [data-element-menu]:hover:before {
  border: 1px solid #0e63e4;
}

.context-menu-wrapper {
  position: absolute;
  z-index: 150;
}

.context-menu-wrapper.pointer-bottom .context-menu-inner-wrapper:before {
  bottom: -7px;
  -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}

.context-menu-wrapper.pointer-top .context-menu-inner-wrapper:before {
  top: -7px;
  -webkit-box-shadow: -2px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -1px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
}

.context-menu-wrapper .context-menu-inner-wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  margin: 0;
  font-size: 16px;
  position: relative;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.context-menu-wrapper .context-menu-inner-wrapper button {
  background-color: transparent;
  border: none;
  padding: 5px;
  line-height: 1;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.context-menu-wrapper .context-menu-inner-wrapper button:first-child {
  margin-left: 0;
}

.context-menu-wrapper .context-menu-inner-wrapper button:last-child {
  margin-right: 0;
}

.context-menu-wrapper .context-menu-inner-wrapper button:hover {
  background-color: #c5c5c5;
}

.context-menu-wrapper .context-menu-inner-wrapper button span {
  font-size: 16px;
  margin-left: 5 px;
}

.context-menu-wrapper .context-menu-inner-wrapper button i {
  vertical-align: middle;
}

.context-menu-wrapper .context-menu-inner-wrapper button i:before {
  font-size: 16px;
}

.context-menu-wrapper .context-menu-inner-wrapper:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  background: #ffffff;
}

.template-link-wrapper {
  position: relative;
  width: 200px;
}

.template-link-wrapper .element-group:not(:first-child) {
  margin-top: 12px;
}

.template-link-wrapper .element-name {
  border-bottom: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 3px;
  display: block;
  font-weight: 400;
}

.template-link-wrapper .element-item {
  cursor: pointer;
  padding: 6px;
}

.template-link-wrapper .element-item:hover {
  background: #eee;
}

.element-wrapper {
  position: absolute;
  top: 32px;
  z-index: 1;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #c5c5c5;
  margin: 0;
  font-size: 16px;
  width: 200px;
}

.element-wrapper:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  background: #ffffff;
  top: -7px;
  -webkit-box-shadow: -2px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -1px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 12pt;
  line-height: 17pt;
  color: #000;
}

.module-sequence-footer {
  margin-top: 30px;
}

@font-face {
  font-family: 'icomoon';
  src: url("https://canvas-hosting.s3-ap-southeast-2.amazonaws.com/navitas/deakin/fonts/icomoon.eot?92fgdc");
  src: url("https://canvas-hosting.s3-ap-southeast-2.amazonaws.com/navitas/deakin/fonts/icomoon.eot?92fgdc#iefix") format("embedded-opentype"), url("https://canvas-hosting.s3-ap-southeast-2.amazonaws.com/navitas/deakin/fonts/icomoon.ttf?92fgdc") format("truetype"), url("https://canvas-hosting.s3-ap-southeast-2.amazonaws.com/navitas/deakin/fonts/icomoon.woff?92fgdc") format("woff"), url("https://canvas-hosting.s3-ap-southeast-2.amazonaws.com/navitas/deakin/fonts/icomoon.svg?92fgdc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calculate:before {
  content: "\e900";
}

.icon-about:before {
  content: "\e901";
}

.icon-build:before {
  content: "\e902";
}

.icon-course:before {
  content: "\e903";
}

.icon-explore:before {
  content: "\e904";
}

.icon-fasttrack:before {
  content: "\e905";
}

.icon-recap:before {
  content: "\e906";
}

.icon-listen:before {
  content: "\e907";
}

.icon-observe:before {
  content: "\e908";
}

.icon-quiz:before {
  content: "\e909";
}

.icon-read:before {
  content: "\e90a";
}

.icon-selfpace:before {
  content: "\e90b";
}

.icon-support:before {
  content: "\e90c";
}

.icon-try:before {
  content: "\e90d";
}

.icon-watch:before {
  content: "\e90e";
}

.user_content * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user_content a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user_content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  color: #000;
}

.user_content p {
  color: #000;
  margin: 0 0 12px;
}

.user_content img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem !important;
  margin-top: 0.5rem !important;
  font-family: inherit;
  line-height: 1;
  font-weight: bold;
  color: inherit;
}

h1,
.h1 {
  font-size: 32pt;
}

h2,
.h2 {
  font-size: 24pt;
  line-height: 29pt;
}

h3,
.h3 {
  font-size: 18pt;
  line-height: 23pt;
}

h4,
.h4 {
  font-size: 14pt;
  line-height: 18pt;
}

h5,
.h5 {
  font-size: 12pt;
}

h6,
.h6 {
  font-size: 11pt;
}

h5.table-heading {
  margin-bottom: 5px !important;
}

.sub-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 15px;
}

.bg-skills-hub-blue {
  background: #04465E;
}

.bg-mint {
  background: #4F9F87;
}

.bg-berry {
  background: #B6539A;
}

.bg-light-grey {
  background: #E9E9E9;
}

.bg-mid-grey {
  background: #A7A9AC;
}

.bg-prof-dark-grey {
  background: #4E4E50;
}

.bg-prof-blue {
  background: #0079C1;
}

.bg-prof-dark-blue {
  background: #004575;
}

.bg-Yolk {
  background: #FBAD1A;
}

.bg-prof-purple {
  background: #7D4199;
}

.bg-prof-teal {
  background: #00A0AF;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-skills-hub-blue {
  color: #04465E;
}

.text-mint {
  color: #4F9F87;
}

.text-berry {
  color: #B6539A;
}

.text-light-grey {
  color: #E9E9E9;
}

.text-mid-grey {
  color: #A7A9AC;
}

.text-prof-dark-grey {
  color: #4E4E50;
}

.text-prof-blue {
  color: #0079C1;
}

.text-prof-dark-blue {
  color: #004575;
}

.text-Yolk {
  color: #FBAD1A;
}

.text-prof-purple {
  color: #7D4199;
}

.text-prof-teal {
  color: #00A0AF;
}

.text-12 {
  font-size: 12pt;
}

.text-15 {
  font-size: 15pt;
}

.text-18 {
  font-size: 18pt;
}

.border-skills-hub-blue {
  border: 1px solid #04465E;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-mint {
  border: 1px solid #4F9F87;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-berry {
  border: 1px solid #B6539A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-light-grey {
  border: 1px solid #E9E9E9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-mid-grey {
  border: 1px solid #A7A9AC;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-prof-dark-grey {
  border: 1px solid #4E4E50;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-prof-blue {
  border: 1px solid #0079C1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-prof-dark-blue {
  border: 1px solid #004575;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-Yolk {
  border: 1px solid #FBAD1A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-prof-purple {
  border: 1px solid #7D4199;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-prof-teal {
  border: 1px solid #00A0AF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.border-skills-hub-blue.opaque:active,
.border-skills-hub-blue.opaque:hover,
.border-skills-hub-blue.opaque:focus {
  opacity: 0.5;
}

.border-mint.opaque:active,
.border-mint.opaque:hover,
.border-mint.opaque:focus {
  opacity: 0.5;
}

.border-berry.opaque:active,
.border-berry.opaque:hover,
.border-berry.opaque:focus {
  opacity: 0.5;
}

.border-light-grey.opaque:active,
.border-light-grey.opaque:hover,
.border-light-grey.opaque:focus {
  opacity: 0.5;
}

.border-mid-grey.opaque:active,
.border-mid-grey.opaque:hover,
.border-mid-grey.opaque:focus {
  opacity: 0.5;
}

.border-prof-dark-grey.opaque:active,
.border-prof-dark-grey.opaque:hover,
.border-prof-dark-grey.opaque:focus {
  opacity: 0.5;
}

.border-prof-blue.opaque:active,
.border-prof-blue.opaque:hover,
.border-prof-blue.opaque:focus {
  opacity: 0.5;
}

.border-prof-dark-blue.opaque:active,
.border-prof-dark-blue.opaque:hover,
.border-prof-dark-blue.opaque:focus {
  opacity: 0.5;
}

.border-Yolk.opaque:active,
.border-Yolk.opaque:hover,
.border-Yolk.opaque:focus {
  opacity: 0.5;
}

.border-prof-purple.opaque:active,
.border-prof-purple.opaque:hover,
.border-prof-purple.opaque:focus {
  opacity: 0.5;
}

.border-prof-teal.opaque:active,
.border-prof-teal.opaque:hover,
.border-prof-teal.opaque:focus {
  opacity: 0.5;
}

/* home-banner */
.home-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2px;
  color: white;
  min-height: 65pt;
  margin: 0 0 30px;
}

.home-banner .home-banner-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18pt;
  line-height: 23pt;
  padding: 15pt;
  font-weight: 400;
}

.home-banner .home-banner-title h3 {
  margin: 0px;
}

.home-banner .home-banner-logo {
  min-width: 250px;
  width: 250px;
  text-align: right;
  padding-right: 0px;
}

.home-banner .home-banner-logo img {
  max-width: 250px !important;
  width: 100%;
}

/* home block */
.home-block {
  max-width: 640px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.home-block-video {
  margin-bottom: 30px;
  padding-bottom: 57.5%;
  position: relative;
  width: 100% !important;
  height: 0;
  display: block;
  overflow: hidden;
}

.home-block-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
}

/* module block */
.module-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  border: 1px solid #E9E9E9;
  overflow: hidden;
  margin: 0 0 30px;
}

.module-block-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  overflow: hidden;
  padding: 0;
}

.module-block-image img {
  width: 100%;
  position: absolute;
  max-width: 800px !important;
}

.module-block-body {
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.module-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16pt;
  line-height: 20pt;
  margin-bottom: 30px;
}

.module-title p {
  margin: 0;
}

.module-title .number {
  font-size: 43pt;
  line-height: 35pt;
  font-weight: bold;
  margin-right: 15pt;
}

.module-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a.module-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #000;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.module-label:hover,
a.module-label:focus,
a.module-label:active {
  opacity: 0.5;
}

a.module-label:not(:last-child) {
  margin-right: 12px;
}

a.module-label > * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a.module-label .label-icon {
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a.module-label .label-icon::before {
  color: #fff;
  padding: 5px;
  font-size: 22pt;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.module-label .label-text {
  border: 1px solid #EFEFEF;
  background: #fff;
  border-left: none;
  line-height: 22pt;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.home-tiles {
  margin-bottom: 15px;
}

.home-tiles .link-tile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.home-tiles .link-tile:hover,
.home-tiles .link-tile:active,
.home-tiles .link-tile:focus {
  opacity: 0.5;
}

.home-tiles .link-tile .tile-icon {
  height: 67.5pt;
  width: 67.5pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
}

.link-tile .tile-icon::before {
  width: 100%;
  font-size: 32pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.link-tile .tile-text {
  border: 1px solid #4E4E50;
  border-left: none;
  font-weight: 400;
  padding-left: 22.5px;
  font-size: 16pt;
  line-height: 18pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* module pages */
/* banner */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
}

.banner > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner .banner-icon {
  width: 100%;
}

.banner .banner-icon::before {
  font-size: 24pt;
  line-height: 28pt;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-title {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18pt;
  line-height: 25pt;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

/* content */
.content {
  margin-bottom: 30px;
}

.user_content ul {
  margin: 0 0 6px 20px;
}

.user_content ol {
  margin: 0 0 6px 17px;
}

.user_content ul li,
.user_content ol li {
  padding-left: 11px;
}

.hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover:hover,
.hover:active,
.hover:focus {
  opacity: 0.5;
}

/* sidebar */
ul.side {
  padding: 0;
  margin-bottom: 0;
}

ul.side li {
  list-style-type: none;
}

ul.side li a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

ul.side li a:hover,
ul.side li a:focus,
ul.side li a:active {
  opacity: 0.5;
}

ul.side li .side-icon {
  font-size: 22pt;
  line-height: 24pt;
  color: #fff;
  padding: 11.2pt 0pt 9pt 11.2pt;
  border-radius: 2px;
}

ul.side li .side-text {
  font-size: 14pt;
  line-height: 18pt;
  margin-left: 15px;
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

/* list tiles */
.list-tile-box {
  margin-bottom: 15px;
  font-weight: 400;
  position: relative;
  border-radius: 2px;
  height: 100%;
}

.list-tile-box a.cover {
  display: block;
  color: #000;
  font-size: 14pt;
  line-height: 18pt;
  padding: 15px;
  background: #fff;
  margin-left: 6pt;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  height: 100%;
}

/* .list-tile-box a.cover:hover,.list-tile-box a.cover:focus,.list-tile-box a.cover:active{
  color: #000;
  opacity: 0.5;
} */
a.back-to-parent {
  color: #4E4E50;
  display: block;
  margin-bottom: 15px;
}

a.back-to-parent::before {
  content: '‹';
  font-size: 22px;
  margin-right: 5px;
}

a.back-to-parent:hover,
a.back-to-parent:active,
a.back-to-parent:focus {
  color: #000;
}

/* topic pages */
.quote-box {
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.quote-box .quote-body {
  margin-left: 5pt;
  background: #fff;
  padding: 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-width: 7.5px;
  border-top: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}

.quote-box p {
  margin: 0;
  font-family: 'Kalam', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  line-height: 23pt;
}

.quote-box .citation {
  color: #4E4E50;
  font-size: 11pt;
  line-height: 14pt;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote-box .citation .divider {
  height: 1pt;
  border-radius: 1pt;
  width: 100%;
  margin: 5pt 0;
}

.testimonial-box {
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial-box .testimonial-image {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-box .testimonial-image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-box .testimonial-body {
  padding: 30px 60px 30px 30px;
  background: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-width: 7.5px;
  border-top: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}

.testimonial-box p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 23pt;
  text-align: left;
}

.testimonial-box .citation {
  color: #000000;
  font-size: 10pt;
  line-height: 14pt;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  float: left;
}

.testimonial-box .citation .divider {
  height: 1pt;
  border-radius: 1pt;
  width: 100%;
  margin: 5pt 0;
}

@media (max-width: 768px) {
  .testimonial-box .testimonial-image {
    display: none;
  }
  .testimonial-box .testimonial-body {
    padding: 30px;
  }
}

.table-heading {
  margin-top: 13px !important;
}

table,
.table-navitas {
  border-collapse: collapse;
  border-radius: 2px;
  overflow: hidden;
  margin: auto !important;
  margin-bottom: 30px;
  min-width: 100%;
}

.table-navitas tr:nth-child(odd) {
  background: #EFEFEF;
}

.table-navitas td,
.table-navitas th {
  border: 1px solid #E9E9E9;
  vertical-align: top;
}

.table-navitas td {
  padding: 7.5px !important;
  font-size: 12pt;
  line-height: 15pt;
}

.table-navitas th {
  background: #0079C1;
  color: white;
  font-size: 12pt;
  line-height: 17pt;
  font-weight: 600;
  text-align: left;
  padding: 13px 7.5px 13px 7.5px;
}

/* activity tile */
.activity-tile-box {
  border-radius: 2px;
  border: 1px solid #E9E9E9;
  min-height: 60px;
  margin: 0 0 30px;
}

.activity-tile-box.image {
  border: none;
  font-size: 10pt;
  font-weight: 400;
}

.activity-tile-box > * {
  padding: 0;
}

.activity-tile-header {
  padding: 15px 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media (max-width: 768px) {
  .activity-tile-header {
    border-radius: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.activity-tile-icon {
  text-align: center;
}

.activity-tile-icon .tile-icon {
  display: inline-block;
  font-size: 18pt;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  position: relative;
}

.activity-tile-icon .tile-text {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 10pt;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.activity-tile-body {
  padding: 15px 7.5px 15px 15px;
}

.activity-tile-body p:first-child {
  margin-top: 0;
}

.activity-tile-body p:last-child {
  margin-bottom: 0;
}

.activity-tile-box.image .activity-tile-body {
  border-top: 1px solid #E9E9E9;
  margin-top: 15px;
}

.activity-tile-image {
  display: block;
  max-width: 800px !important;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.activity-tile-body .home-block {
  margin-bottom: 0;
}

.activity-tile-body .home-block-video {
  margin-bottom: 0;
}

.tab-content .activity-tile-image .template-add-image img {
  width: 100%;
  max-width: 100% !important;
}

.activity-tile-image p:first-child {
  margin-top: 0;
}

.activity-tile-image p:last-child {
  margin-bottom: 0;
}

/* accordion */
.accordion {
  width: 100%;
  margin-bottom: 30px;
}

.accordion .accordion-item {
  border-radius: 2px;
  margin-bottom: 15px;
}

.accordion .accordion-body {
  margin-left: 0.5rem;
  background: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}

.accordion .accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 15px;
  font-size: 14pt;
  line-height: 18pt;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion .accordion-header img,
.accordion .accordion-header a img {
  max-width: 40px;
  margin-right: 15px;
  display: block;
}

.accordion .accordion-header .accordion-title {
  font-weight: bold;
}

.accordion-content {
  border-top: 1px solid #ccc;
  padding: 0 15px 15px;
  border-top: 0px;
  display: none;
}

.accordion-content p:first-child {
  margin-top: 0px;
}

.accordion-content.open {
  display: block;
}

.accordion-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.accordion-icon {
  text-align: end;
  padding: 0 1rem;
  font-size: 24px;
  font-weight: 400;
}

/* tabs */
.tabs {
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 30px;
}

.tab-trigger-list {
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 0 !important;
  padding-left: 0px !important;
}

.tab-trigger-list li:not(:first-of-type) {
  border-left: 1px solid #E9E9E9;
}

.tab-trigger-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #EFEFEF;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-trigger-list li.active {
  background: #fff;
  border-bottom: none;
}

.tab-trigger-list li span {
  display: block;
  padding: 15px;
  font-weight: bold;
  width: 100%;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tab-trigger-list li span:hover,
.tab-trigger-list li span:focus,
.tab-trigger-list li span:active {
  opacity: 0.5;
}

.tab-content {
  padding: 15px;
}

.tab-content p:first-child {
  margin-top: 0;
}

.tab-content p:last-child {
  margin-bottom: 0;
}

/* sample code */
pre.example {
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
  word-wrap: normal;
  margin: 20px 0;
  padding: 0;
  max-height: 250px;
  overflow: scroll;
}

pre.example code {
  display: block;
  padding: 0px;
  padding-left: 20px;
}

/* flipcard */
.animation {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  display: block;
  background: #fff;
  min-height: 200px;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
}

.card .front {
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .front img {
  width: 100%;
}

.card .back {
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  overflow: auto;
  -webkit-appearance: scrollbartrack-vertical;
}

.card .back > .content {
  padding: 15px;
}

.card .back > .content *:first-child {
  margin-top: 0;
}

.card .back > .content *:last-child {
  margin-bottom: 0;
}

.flip-card {
  position: relative;
  height: 250px;
  width: 250px;
  margin: auto;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.col-* ~ .flip-card {
  padding-left: 0;
  padding-right: 0;
}

.flip-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 12;
}

.flip-icon img {
  max-width: 25px !important;
}

.square-200 {
  height: 200px;
  width: 200px;
  max-height: 200px !important;
  max-width: 200px;
}

.square-300 {
  height: 300px;
  width: 300px;
  max-height: 300px !important;
  max-width: 300px;
}

.square-400 {
  height: 400px;
  width: 400px;
  max-height: 400px !important;
  max-width: 400px;
}

.square-500 {
  height: 500px;
  width: 500px;
  max-height: 500px !important;
  max-width: 500px;
}

.square-600 {
  height: 600px;
  width: 600px;
  max-height: 600px !important;
  max-width: 600px;
}

.square-800 {
  height: 800px;
  width: 800px;
  max-height: 800px !important;
  max-width: 800px;
}

.img-200 {
  max-width: 200px !important;
}

.img-300 {
  max-width: 300px !important;
}

.img-400 {
  max-width: 400px !important;
}

.img-450 {
  max-width: 450px !important;
}

.img-500 {
  max-width: 500px !important;
}

.img-600 {
  max-width: 600px !important;
}

.img-700 {
  max-width: 700px !important;
}

/* hotspot */
.lg-container {
  margin: auto;
  position: relative;
  padding: 0;
}

.lg-image {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.lg-hotspot {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.lg-hotspot.active .lg-hotspot-button {
  border-color: #E9E9E9;
}

.lg-hotspot:hover .lg-hotspot-button,
.lg-hotspot:active .lg-hotspot-button {
  border-color: #E9E9E9;
  -webkit-animation: button-pulse 1s ease-in-out infinite;
          animation: button-pulse 1s ease-in-out infinite;
}

.lg-hotspot.active .lg-hotspot-button:after,
.lg-hotspot:hover .lg-hotspot-button:after,
.lg-hotspot:active .lg-hotspot-button:after {
  background-color: #fff;
  border: 1px solid #A7A9AC;
  color: #00A0AF;
}

.lg-hotspot-button {
  height: 37.5px;
  width: 37.5px;
  padding: 0px;
  border-radius: 100%;
  border: 3px solid transparent;
  z-index: 999;
}

.lg-hotspot-button:after {
  content: '＋';
  color: white;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: #00A0AF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22.5px;
  width: 22.5px;
  border-radius: 100%;
  border: 3px solid transparent;
  -webkit-transition: border-color 1s linear;
  transition: border-color 1s linear;
}

.lg-hotspot-body {
  position: absolute;
  padding: 15px;
  width: 400px;
  background-color: white;
  z-index: -1;
  pointer-events: none;
  border-radius: 2px;
  border: 1px solid #E9E9E9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.top-left .lg-hotspot-body {
  top: 30px;
  right: auto;
  bottom: auto;
  left: 30px;
}

.top-right .lg-hotspot-body {
  top: 30px;
  right: 30px;
  bottom: auto;
  left: auto;
}

.bottom-right .lg-hotspot-body {
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
}

.bottom-left .lg-hotspot-body {
  top: auto;
  right: auto;
  bottom: 30px;
  left: 30px;
}

@-webkit-keyframes button-pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes button-pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

.split-image-container .split-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.split-image-container .split-image img {
  max-width: 100% !important;
}

ul.tab-trigger-list li,
ul.tab-trigger-list li {
  padding-left: 0px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.list-view a, a.instructure_file_link, .url-link {
  color: #0070F5 !important;
}

#breadcrumbs > ul > li:not(:last-child) span.ellipsible {
  color: #0070F5 !important;
}

.list-view a.active {
  color: #2D3B45 !important;
}

.header-bar-right .front-page.label {
  background-color: #6D7783 !important;
}

/********************************************************************************
 * START -  CONSTRUCT EDITS
*********************************************************************************/
h2, h3, h4 {
  font-family: 'Barlow', sans-serif !important;
}

/********************************************************************************
 * END -  CONSTRUCT EDITS
*********************************************************************************/
/*# sourceMappingURL=style.css.map */